.chess-board {
    display: grid;
    grid-template-columns: repeat(8, 5.2vw);
    grid-template-rows: repeat(8, 5.2vw);
    width: fit-content;
    border: 1px solid black;
    
  }
  
  .square {
    width: 5.2vw;
    height: 5.2vw;
  }
  
  .dark {
    background-color: #000000; /* Dark square color */
    color:rgb(172, 158, 158);
    font-size:1vw;
  }
  
  .light {
    background-color: #ffffff; /* Light square color */
    color:#3a3131;
    font-size:1vw;
  }
  
  .ChessBox{
    margin: auto; 
   
    width : 58vw;
    background-image: url(./bg.jfif);
    padding-right: 1vw;
    padding-left: 3vw;
    padding-top: 2vw;
      

  }