.chess-board {
    display: grid;
    grid-template-columns: repeat(8, 11vh);
    grid-template-rows: repeat(8, 11vh);
    border: 2px solid black;
    width: fit-content;
    
    
  }
  
  .square {
    width: 11vh;
    height: 11vh;
  }
  
  .dark {
    background-color: #000000; /* Dark square color */
  }
  
  .light {
    background-color: #ffffff; /* Light square color */
  }
  